<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <br>
    <title>Добавяне на оферта</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card" >
        <br>
        <h3 class="text-center"> Добавяне на нова оферта </h3>
        <hr/>
        <div class="card-body">
            <form th:action="@{/saveOffer}" th:object="${offer}" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Име на офертата:</label>
                    <input type="text"
                            name="fullName"
                    th:field="*{fullName}"
                    class="form-control"
                    placeholder="Въведете име на офертата..."/>
                </div>

                <div class="form-group">
                    <label>Транспорт:</label>
                    <select>
                        <option th:each="transport: ${transports}" th:text="${transport.name}" />
                    </select>
                </div>

                <div class="form-group">
                    <label>Категория:</label>
                    <select>
                        <option th:each="category: ${categories}" th:text="${category.name}" />
                    </select>
                </div>

                <div class="form-group">
                    <label>Начална дата:</label>
                    <input type="date"
                    name="startDate"
                    th:field="*{startDate}"
                    class="form-control"
                    placeholder="Въведете начална дата на пътуването..."/>
                </div>

                <div class="form-group">
                    <label>Крайна дата:</label>
                    <input type="date"
                           name="endDate"
                           th:field="*{endDate}"
                           class="form-control"
                           placeholder="Въведете крайна дата на пътуването..." />
                </div>

                <div class="form-group">
                    <label>Цена:</label>
                    <input type="number"
                           name="price"
                           th:field="*{pricePerPerson}"
                           class="form-control"
                           placeholder="Въведете цената на човек..." />
                </div>

                <div class="form-group">
                    <label>Цената включва:</label>
                    <input type="text"
                           name="priceIncludes"
                           th:field="*{priceIncludes}"
                           class="form-control"
                           placeholder="Въведете какво включва цената..." />
                </div>

                <div class="form-group">
                    <label>Цената не включва:</label>
                    <input type="text"
                           name="priceNotIncludes"
                           th:field="*{priceDoesNotInclude}"
                           class="form-control"
                           placeholder="Въведете какво не включва цената..." />
                </div>

<!--                <form method="post" th:action="@{/upload}" enctype="multipart/form-data">-->
                    <div class="form-group">
                        <input type="file" name="image" accept="image/*" class="form-control-file">
                    </div>
<!--                </form>-->

                <input type="submit" class="btn btn-primary" value="Създаване" />
                <input type="hidden" th:field="*{id}" />
            </form>
            <hr/>
            <a th:href="@{/offers}">Връщане назад</a>
        </div>
    </div>
</div>
</body>
</html>