<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tourism System</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <div class="text-center">
        <h1 class="display-4">Welcome to Tourism System!</h1>
    </div>

</head>
<body>
<div class="container">
    <h3>Всички оферти</h3>
    <hr />
    <a th:href="@{/create_offer}" class="btn btn-primary">Добавяне на оферта</a>
    <br/><br/>
    <table class="table table-bordered table-striped" id="offerTable">
        <thead>
        <tr>
            <th>Име</th>
            <th>Начална дата</th>
            <th>Крайна дата</th>
            <th>Категория</th>
            <th>Транспорт</th>
            <th>Цена на човек</th>
<!--            <th>Цената включва</th>-->
<!--            <th>Цената не включва</th>-->
        </tr>
        </thead>
        <tbody>
        <tr th:each="offer: ${offers}">
            <td th:text="${offer.fullName}"/>
            <td th:text="${offer.startDate}"/>
            <td th:text="${offer.endDate}"/>
            <td th:text="${offer.category}"/>
            <td th:text="${offer.transport}"/>
            <td th:text="${offer.pricePerPerson}"/>
<!--            <td th:text="${offer.priceIncludes}"/>-->
<!--            <td th:text="${offer.priceDoesNotInclude}"/>-->
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>