<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tourism System</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <div class="text-center">
        <h1 class="display-4">Welcome to Tourism System!</h1>
    </div>

</head>
<body>
<div class="container">
    <h3>Всички оферти</h3>
    <hr />
<!--    <a th:href="@/"-->
</div>
</body>
</html>